/********************************************************/
/* Colors */
:root {
  --brand-primary: #3d0000;
  --brand-secondary: #F3F5D6;
  --brand-secondary-dark: #0A2134;
  --brand-secondary-light: #CBBB9D;
  --highlight: #4B7C8E;
  --black: #010101;
  --white: #F7F9FB;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  color: var(--brand-primary);
}

a {
  color: var(--highlight);
}

/* Typeography */

h1,
h2,
h3 {
  margin: 0.5em auto;
  display: block;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  fill: var(--brand-secondary);
  background-color: var(--brand-primary);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: 1.5s ease-in
}

#scrollToTop:hover {
  opacity: 1;
}

footer a {
  color: var(--brand-secondary);
}

footer a:hover {
  color: var(--brand-secondary-light);
}

footer {
  color: var(--brand-secondary-light);
}


header,
footer {
  background-color: var(--brand-primary);
  padding: 1em;
}

footer {
  margin: 0;
  text-align: center;
}

main {
  background: var(--brand-secondary-light);
  margin: 0;
}

header {
  padding: 1em;
}



section {
  margin: 0;
  padding: 3em;
}


.site-logo svg {
  fill: var(--brand-secondary);
  stroke: var(--brand-secondary);
  width: 300px;
  height: auto;
}


/* SVG Sizing */
#whatsthestory {
  height: 2.7em;
  display: block;
  margin: 1em auto;
  max-width: 80%;
}

#whoneedstohearit {
  height: 2.7em;
  display: block;
  margin: 1em auto;
  max-width: 80%;
}

#downarrow {
  width: 10%;
  display: block;
  margin: auto;
}

#downarrow:hover {
  cursor: pointer;
}

#roadmapSection {
  display: flex;
  flex-wrap: wrap;
}

#roadmapElements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
}

#roadmapSection #roadmapElements svg {
  width: 180px;
}

#themap {
  display: none;
}

#previouspuzzles {
  width: 50%;
}

section svg path {
  stroke: var(--brand-primary);
  fill: var(--brand-primary);
}

main svg rect {
  fill: var(--brand-primary);
}

#portfolio svg rect {
  fill: var(--brand-secondary);
}


#roadmap,
#budget,
#scope,
#milestones,
#userneeds,
#strategicobjectives,
#styleguide #branding,
#previouspuzzles {
  height: auto;
}

#previouspuzzles rect {
  fill: var(--brand-primary);
}

#walkingPerson svg path,
#walkingPerson svg circle {
  fill: none;
  stroke: var(--brand-secondary);
}

#walkingPerson svg text {
  fill: var(--brand-secondary);
  fill-opacity: 0.25;
  transition: all 15s;
}

#walkingPerson.isIntersecting svg text {
  fill-opacity: 1;
}

#slides section {
  border-top: 1px solid var(--brand-primary);
  border-bottom: 2px solid var(--brand-primary);
}

#themap,
#roadmap {
  width: calc(50% - 2em);
  float: left;
  margin: 1em;
}

/* Hero */
#home {
  color: var(--brand-primary);
  padding: 4rem 0;
  text-align: center;
}

#home {
  background-image: linear-gradient(to bottom,
      var(--brand-secondary-light),
      var(--highlight));
}


/* Toolset */

#toolset {
  background: linear-gradient(to bottom, var(--highlight), var(--brand-secondary-light))
}


#toolset .tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  border: 1px solid var(--brand-secondary);
  text-align: center;
}

#toolset img {
  max-width: 180px;
  max-height: 180px;
  height: auto;
  margin: 1em;
  display: inline;
}

#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
}

.bg-highlight {
  background-color: var(--highlight);
}

.bg-brand-secondary {
  background-color: var(--brand-secondary);
}

.bg-brand-secondary-dark {
  background-color: var(--brand-secondary-dark);
}

.bg-primary {
  background-color: var(--brand-primary);
}

/* Nav */

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  text-decoration: none;
}

nav .menu {
  background-color: var(--brand-primary);
}

nav .menu a {
  color: var(--brand-secondary);
}

nav .menu a:hover {
  color: var(--brand-secondary);
}

.menuItem:hover {
  text-decoration: underline;
}

#hamburger {
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: none;
  background: none;
  cursor: pointer;
}

#hamburger svg {
  fill: var(--brand-secondary);
  stroke: var(--brand-secondary);
}

svg.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--light);
  color: var(--brand-secondary);
  list-style: none;
  padding-top: 4rem;
}

#menumid {
  opacity: 1;
  transition: all 0.35s ease-in-out;
}

#menumid.showMenu {
  opacity: 0;
}

#menutop,
#menubot {
  transition: all 0.35s ease-in-out;
  transform: rotate(0deg);
  transform-origin: 20px;
}

#menutop.showMenu,
#menubot.showMenu {
  transition: all 0.35s ease-in-out;
}

#menutop.showMenu {
  transform: translateX(-15px) translateY(10px) rotate(45deg);
}

#menubot.showMenu {
  transform: translateX(-15px) translateY(4px) rotate(-45deg);
}

.showMenu {
  transform: translateY(0);
}

nav {
  width: 100%;
}

/* Typography */

body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Portfolio */
section#portfolio {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--brand-secondary);
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}


#sliderWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: var(--brand-secondary-dark);
}

#slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#slides {
  height: 100vh;
}

#slides section {
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: relative;
  float: left;
}

.dot {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  position: relative;
  background-color: var(--brand-secondary);
  margin: 9px 4px;
  cursor: pointer;
  float: left;
}

.dots {
  position: absolute;
  z-index: 100;
  left: 50%;
  bottom: 16px;
}

#leftArrow {
  left: 12px;
}

#rightArrow {
  right: 12px;
}

.arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
  opacity: 0.75;
  width: 40px;
  height: 40px;
  stroke-width: 8px;
  stroke: white;
  fill: transparent;
}

#portfolio h1 {
  position: absolute;
  z-index: 100;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

#portfolio h1 .previous-puzzles {
  fill: var(--brand-secondary);
}

#portfolio h1 svg.type {
  fill: var(--brand-secondary);
  stroke: var(--brand-secondary);
  max-width: 50%;
  height: auto;
}

#portfolio h1 svg.type path {
  fill: var(--brand-secondary);
  stroke: var(--brand-secondary);
}

#portfolio h1 span {
  text-transform: none;
  font-size: 1em;
  font-weight: 400;
  display: block;
}


#portfolio img {
  margin: 1em auto;
  max-width: 80%;
}

#portfolio .logo-icon {
  fill: var(--brand-secondary);
  stroke: var(--brand-secondary);
  max-height: 40%;
  width: auto;
  margin: 0.8em auto;
  display: block;
}


section#portfolio .titleWrap {
  height: 30px;
  position: absolute;
  z-index: 20;
  bottom: 50px;
  left: 50%;
  overflow-y: hidden;
}

section#portfolio .title {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

section#portfolio h3,
section#portfolio p {
  padding: 0;
  margin: 0;
}

section#portfolio h3 {
  font-size: 1.5em;
}

section#portfolio p {
  max-width: 400px;
  font-weight: 400;
  text-align: center;
}

.hideMe {
  opacity: 0;
}

.iconWrap {
  width: 300px;
  margin-top: 30px;
}

@media (min-width: 700px) {
  .iconWrap {
    width: 600px;
  }
}

.icon {
  text-align: center;
  width: 150px;
  float: left;
}

.icon svg {
  width: 50px;
  height: 50px;
  margin: 6px 0;
  overflow: visible;
}

p::first-letter {
  font-size: larger;
  text-transform: uppercase;
}


#escalator {
  animation: 2s linear infinite escalator;
}

@keyframes escalator {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-60px, -40px);
  }
}

#person {
  animation: 2s ease-out infinite alternate Person;
}

#person a:hover::before {
  content: '⛅ Click me...'
}

#person a:hover>circle {
  fill: var(--brand-secondary);
}

#person circle {
  fill: none;
}

@keyframes Person {
  from {
    transform: translate(-360px, 185px);
  }

  to {
    transform: translate(-360px, 165px);
  }
}

#left-arm {
  animation: 2s ease-in-out infinite alternate leftArm;
  transform-origin: 800px 170px;
}

@keyframes leftArm {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-45deg);
  }
}

#right-arm {
  animation: 2s ease-in-out infinite alternate rightArm;
  transform-origin: 800px 170px;
}

@keyframes rightArm {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(45deg);
  }
}

#left-leg {
  animation: 2s ease-in-out infinite alternate-reverse leftLeg;
  transform-origin: 790px 275px;
}

@keyframes leftLeg {
  0% {
    transform: rotate(0);
  }

  70% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(-25deg);
  }
}

#right-leg {
  animation: 2s ease-in-out infinite alternate rightLeg;
  transform-origin: 790px 275px;
}

@keyframes rightLeg {
  0% {
    transform: rotate(0);
  }

  70% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(-25deg);
  }
}

#left-calf {
  animation: 2s ease-in-out infinite alternate leftCalf;
  transform-origin: 790px 350px;
}

@keyframes leftCalf {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(80deg);
  }
}

#right-calf {
  animation: 2s ease-in-out infinite alternate-reverse rightCalf;
  transform-origin: 790px 350px;
}

@keyframes rightCalf {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(80deg);
  }
}


@media (max-width: 480px) {
  section img {
    max-width: 200px;
  }

  #portfolio p {
    max-width: 180px;
  }

  #previouspuzzles {
    width: 20%;
  }
}


@media (min-width: 768px) {


  .dot {
    width: 12px;
    height: 12px;
    margin: 12px 8px;
  }



  p {
    max-width: 600px;
    margin: 1em auto;
  }

  #roadmapSection #roadmapElements svg {
    width: 330px;
  }

  #roadmapElements {
    gap: 2em;
  }

}

@media (min-width: 992px) {

  #roadmapSection #roadmapElements svg {
    width: 400;
  }
}

@media (min-width: 1200px) {

  #roadmapSection #roadmapElements svg {
    width: 450;
  }

  #roadmapElements {
    gap: 3em;
  }
}

@media (min-width: 1400px) {

  #roadmapSection #roadmapElements svg {
    width: 500px;
  }
}
